html {
    overflow-x: hidden;
  }

body {
    color:white;
    background-color:#000000;
      font-family: sans-serif;
      padding: 0;
  }

.HomeUpperText {
    color:white;
    font-size:30px;
    font-weight:bold;
    text-align:center;
}

.article-box {
  display: flex;
  border: 1px solid transparent;
  box-shadow: rgba(50, 50, 50, 0.74902) 10px 5px 8px -2px;
}

.article-image {
  padding: 3px;
  border: thick solid black;
  height: 250px;
  width: 250px;
  display: inline-block;
  float: left;
}